#root {
  margin: 0 auto;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  color: black;
}

.sidePanel{
  flex:2;
  background-color: #fff;
}

.body{
  flex:8;
  background-color: pink;
}

html, body {margin: 0; height: 100%; overflow: hidden}
